body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css or Navbar.css */

nav {
  background-color: #f0f0f0;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
